<h1>Welcome to the Tech Blog</h1>

{{#if logged_in}}
  <p>Welcome back, {{username}}!</p>
  <p><a href="/dashboard">Go to your dashboard</a></p>
  <a href="/logout" id="logout">Logout</a>
{{else}}
  <p><a href="/login">Login</a> to manage your blog posts or <a href="/signup">Sign up</a> to start posting your thoughts!</p>
{{/if}}

<hr>

<h2>Latest Blog Posts</h2>

{{#each posts}}
  <div class="post-item">
    <h3><a href="/post/{{this.id}}">{{this.title}}</a></h3>
    <p>Posted by {{this.user.username}} on {{this.createdAt}}</p>
    <p>{{this.content}}</p>
    <a href="/post/{{this.id}}">Read more & leave a comment</a>
  </div>
  <hr>
{{else}}
  <p>No blog posts have been created yet.</p>
{{/each}}

<script src="/js/logout.js"></script>
